*.pyc
.ipynb_checkpoints/gliders_make_plots-checkpoint.py
/logs
glider_bathy/GEBCO_2025/gebco_2025_n49.0_s39.0_w-130.0_e-123.0.nc
glider_bathy/GEBCO_2025/GEBCO_Grid_documentation.pdf
glider_bathy/GEBCO_2025/GEBCO_Grid_terms_of_use.pdf
